services:
  api:
    container_name: appointmentsender-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ConnectionStrings__defaultConnection: "Host=host.docker.internal;Port=5432;Database=SAMS_HRMS_DB;Username=postgres;Password=1234"
    restart: unless-stopped
